/Team_Project/.quarto/
/Team_Project/_book
/venv_adl
/venv_captum
/wandb
__pycache__
wandb

/Code/dataset/data/DS1_Car_Models_3778_sorted_256_adjusted.zip
/Code/dataset/data/DS1_Car_Models_3778_sorted_256_adjusted
/Code/dataset/data/DS2_confidence_and_brand_selected.zip
/Code/dataset/data/DS2_confidence_and_brand_selected
/Code/dataset/Data/DS2_b2000
/Code/dataset/Data/DS2_b2000_labels
/Code/captum/trained_models
/Code/captum/OLD
/Code/captum/DS1_Car_Models_3778_sorted_256_adjusted
.venv
.DS_Store
/Code/dataset/DATA/

Code/image_classifier/Resnet50/Data
Code/image_classifier/Resnet50/wandb

*.pth

#AlexNet
Code/image_classifier/alexnet/checkpoints/
Code/image_classifier/alexnet/dataset/
Code/image_classifier/alexnet/wandb/
.DS_Store
.pyc
Code/image_classifier/Resnet50/__pycache__
Code/article_agent/.env

#VisualTransformer
Code/image_classifier/VisualTransformer/data/
Code/image_classifier/VisualTransformer/wandb/
Code/dataset/Data/DS1_vorläufig_Car_Models_3778/test
Code/dataset/Data/DS1_vorläufig_Car_Models_3778/train

#Article Assembler
Code/article_assembler/agent_output.txt
Code/article_assembler/filled_article.md
Code/article_assembler/readme_files
Code/article_assembler/readme.html
Code/article_assembler/old
Code/article_assembler/pdfs
Code/article_assembler/imgs
Code/article_assembler/tmp


#Webcam
Code/webcam/webcam_image.jpg
Code/webcam/webcam_images
Code/captum/captum_plots
Code/captum/captum_plots_brand
Code/captum/captum_plots_body