/Team_Project/.quarto/
/venv_adl
/Code/dataset/data/
.venv

Code/image_classifier/Resnet50/Data
Code/image_classifier/Resnet50/wandb

#AlexNet
Code/image_classifier/alexnet/checkpoints/
Code/image_classifier/alexnet/dataset/
Code/image_classifier/alexnet/wandb/
.DS_Store
.pyc
